
<style>

.text-center{
  font-size: 12px;
}

.li{
  text-align: center;
}
html, body {
  margin: 0;
  padding: 0;
}

p{
}


.row {
  width: auto;
}

.row h1 {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.clearfix {
  clear: both;
}

.img-center {margin:0 auto;}

.list-group-item{
  font-size: 13px;
  width: 10px;

}

.btn{
  display: inline-block;
  width: 20px;
}

.container{
  width: 700px;
}

</style>

<head>
  <title>
    LoopMe - A Single Click to Share Everything About Yourself
  </title>
  <meta name="description=" content="">

</head>

<body>

 <div class="container" style = "margin-top: 10%">
        <div class="row">
          <div class="col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 col-xs-7 text-center">
            <h2 class="cyan-text text-darken-3" style = "font-size: 45px;">
              <% if current_user%>
              <%=current_user.first_name%> <%=current_user.last_name%>
              <%else%>
              Loop.me
              <%end%>
            </h2>
            <!-- <p>A Single Click to Share Everything About Yourself</p> -->
          </div>
        </div>

        <div class="row">

          <nav>
              <div class="nav-wrapper white hoverable">
                <form>
                  <div class="input-field" >
                    <input id="search" placeholder="Look Forward" type="search" required>
                    <!-- <label for="search"><i class="material-icons">search</i></label> -->
                    <!-- <i class="material-icons">close</i> -->
                  </div>
                </form>

              </div>
            </nav>


        </div>
    </div>



    <div class="container">
    <div class="row" >

    <% if current_user %>
    <a class=" waves-effect waves-light cyan darken-1 btn-large center-align text-center col-lg-3 col-sm-3 col-md-2 col-sm-offset-2  col-md-offset-2 col-lg-offset-4 col-xs-7" >
      Add More Links
    </a>
    <%end%>

    </div>

    </div>

</body>
