<!DOCTYPE html>
<html>
<head>
  <title>LoopMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper cyan darken-1">
      <a href="#" class="brand-logo center"
      onmouseover="this.style.color='#FFB459';this.style.textDecoration='none';"
      onmouseout="this.style.color='white';">LoopMe</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a  href="sass.html"
          style="font-size:20px;"
          onmouseover="this.style.color='#FFB459';this.style.textDecoration='none';"
          onmouseout="this.style.color='white';">Login</a></li>
        <li><a href="badges.html"
          style="font-size:12px;"
          onmouseover="this.style.color='#FFB459';this.style.textDecoration='none';"
          onmouseout="this.style.color='white';">Sign up</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
